<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://cxf.apache.org/jaxws
		http://cxf.apache.org/schemas/jaxws.xsd">
	<!-- 与下面的方式等价
	<jaxws:client id="helloCxfServiceProxy" serviceClass="cn.aki.cxf.HelloCxfServcie" address="${cxf.baseServiceUrl}/helloCxfService" />
	 -->
	<bean id="helloCxfServiceProxy" factory-bean="helloCxfServiceFactory" factory-method="create"/>
	<bean id="helloCxfServiceFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="cn.aki.cxf.HelloCxfServcie"/>
        <property name="address" value="${cxf.baseServiceUrl}/helloCxfService"/>
    </bean>
</beans>